// colors
$white: #ffffff;
$black: #000000;
$bodyColor: #FBF7EB;
$LightGreen: #D3FCA0;
$green: #2E574D;
$Beige: #FBF7EB;
$main: #2E574D;
$textAndLine: #5A7B67;
$grey: #929292;
$lightGray: #D9D9D9;
$blue: #B3C7FA;

$tablet-width: 48rem;